/.vscode
/c cpp workspace.code-workspace
/CLASSES AND OBJECTS PROJECT.CPP
/classes.CPP
/filesystem2.cpp
/filesystem2.exe
/filesystem3.cpp
/filesystem3.exe
/flexbox-2.html
/flexbox.html
/hello.cpp
/hello.exe
/inheritance.cpp
/inheritance.exe
/inherit_constructor.cpp
/inherit_constructor.exe
/klaus.jfif
/numberguessgame.cpp
/numberguessgame.exe
/overloading_operator.cpp
/overloading_operator.exe
/project1.exe
/romandjul.txt
/test.txt
/Untitled.cpp